annotated-types
asgiref
blinker
blis
catalogue
certifi
chardet
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cycler
cymem
decorator
Django
django-cors-headers
djangorestframework
dotenv
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
ffmpeg-python
filelock
Flask
fonttools
fsspec
future
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
imageio
imageio-ffmpeg
itsdangerous
Jinja2
joblib
kiwisolver
langcodes
language_data
llvmlite
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
mdurl
more-itertools
moviepy
mpmath
murmurhash
networkx
nltk
numba
numpy
opencv-contrib-python
opencv-python
packaging
pandas
pillow
preshed
proglog
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
regex
requests
rfc3986
rich
setuptools
shellingham
six
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
sympy
thinc
tiktoken
torch
tqdm
typer
typing-inspection
typing_extensions
tzdata
urllib3
wasabi
weasel
Werkzeug
wrapt
gunicorn
whitenoise